@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body, html {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgba(201, 145, 61, 0.2);
    color: rgba(40, 40, 40, 1.0);
}

.container {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 0;
    
}

.copy {
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin:20px 0;
}

p {
    font-weight: 400;
}

h1, p {
    text-align: center;
}

.logo {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.icons-group {
    margin-top: 20px;
}

span.icon {
    margin: 20px;
}

a {
    color: rgba(40, 40, 40, 1.0);
}

a:hover {
    color: rgba(40, 40, 40, 0.5);
}

@media (min-width: 576px)
{
    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin:20px 0;
    }

}

@media (min-width: 768px)
{
    .logo {
        display: block;
        width: 50%;
        margin: 0 auto;
    }
}

@media (min-width: 992px)
{
    h1 {
        font-size: 3.5rem;
        font-weight: 700;
        margin:20px 0;
    }

}

@media (min-width: 1200px)
{
    h1 {
        font-size: 4rem;
        font-weight: 700;
        margin:20px 0;
    }

}